@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Inter/Inter-Regular.woff2?v=3.19') format('woff2'),
    url('/fonts/Inter/Inter-Regular.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Inter/Inter-Medium.woff2?v=3.19') format('woff2'),
    url('/fonts/Inter/Inter-Medium.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Inter/Inter-SemiBold.woff2?v=3.19') format('woff2'),
    url('/fonts/Inter/Inter-SemiBold.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Inter/Inter-Bold.woff2?v=3.19') format('woff2'),
    url('/fonts/Inter/Inter-Bold.woff?v=3.19') format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}

.content {
  overflow: auto;
  position: relative;
}

.content::before {
  content: '';
  position: fixed;
  background: linear-gradient(
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.6) 0%
    ),
    url('/bg-image/splash.png') no-repeat padding-box fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
  filter: blur(9px);
  -webkit-filter: blur(9px);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;

.bg-checkbox label input {
  @apply absolute hidden;
}

.bg-checkbox input + div,
.bg-text-button {
  @apply my-5 mr-5 block flex h-check-buttons w-check-buttons
  items-center justify-between rounded-full bg-white px-5 text-base
  text-bridge-purple drop-shadow-lg;
}

.bg-checkbox input + div .check_img {
  background: url('/icons/circle-check.svg') no-repeat;
}

.bg-checkbox input:checked + div {
  @apply h-check-buttons w-check-buttons rounded-full bg-bridge-purple text-white;
}

.bg-checkbox input:checked + div .check_img {
  background: url('/icons/circle-check-ticked.svg') no-repeat;
}

.red-button {
  @apply h-12 rounded-full bg-bridge-red py-3 pl-4 pr-14 text-base text-white transition duration-300 hover:-translate-y-1;
  background: #db2f20 url('/icons/arrow_button.svg') no-repeat 90% 50%;
}

.red-button-back {
  @apply h-12 rounded-full bg-bridge-red py-3 pr-5 pl-14 text-base text-white transition duration-300 hover:-translate-y-1;
  background: #db2f20 url('/icons/arrow_button_back.svg') no-repeat 10% 50%;
}

.red-button-secondary {
  @apply h-12 items-center rounded-full bg-bridge-red px-8 py-3 text-center text-base text-white transition duration-300 hover:-translate-y-1;
}

.sliding-label {
  width: 500px;
}

.sliding-label label {
  @apply block max-w-full text-labelHeader font-normal text-bridge-red;
}

input[type='number'] {
  @apply w-52 rounded-lg bg-white  py-4 px-2 text-base text-gray-500 drop-shadow-lg text-2xl focus:outline-none;
}

@tailwind utilities;
